body {
  padding: 10px;
}


label{
  display: block;
}
input{
  width: 100%;
  margin-bottom: 20px;
}
form {
  padding-right: 6px;
  display: block;
}
form textarea {
  height: 140px;
  width: 100%;
}